<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Suite1" verbose="1">
    <test name="Main Features" parallel="false" preserve-order="true">
        <classes>
            <class name="com.kattysoft.ListDocumentsIT"/>
            <class name="com.kattysoft.ListDocumentsFeaturesIT"/>
            <class name="com.kattysoft.DocumentIT"/>
            <class name="com.kattysoft.DictionariesIT"/>
            <class name="com.kattysoft.DictionaryIT"/>
        </classes>
    </test>
</suite>