<?xml version="1.0" encoding="UTF-8" ?>
<configuration scan="true" scanPeriod="30 seconds">

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss} %-5level [%mdc{pageSessionUid}][%thread] [%logger]:%M %n%msg%n%n</pattern>
        </encoder>
    </appender>

    <!--<appender name="XMLFILE" class="ch.qos.logback.core.rolling.RollingFileAppender">-->
        <!--<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">-->
            <!--&lt;!&ndash; daily rollover &ndash;&gt;-->
            <!--<fileNamePattern>${user.home}/sokollogs/sokolsed.%d{yyyy-MM-dd}.xml</fileNamePattern>-->

            <!--&lt;!&ndash; keep 30 days' worth of history &ndash;&gt;-->
            <!--<maxHistory>30</maxHistory>-->
        <!--</rollingPolicy>-->

        <!--<encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">-->
            <!--<layout class="ch.qos.logback.classic.log4j.XMLLayout">-->
                <!--<locationInfo>true</locationInfo>-->
            <!--</layout>-->
        <!--</encoder>-->
    <!--</appender>-->

    <!--<logger name="com.kattysoft.core.impl.AccessRightServiceImpl" level="debug" />-->
    <logger name="com.kattysoft.core.dao.DBUtilDaoPg" level="debug" />

    <root level="INFO">
        <appender-ref ref="STDOUT" />
        <!--<appender-ref ref="XMLFILE" />-->
    </root>

</configuration>