<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:jpa="http://www.springframework.org/schema/data/jpa"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/data/jpa http://www.springframework.org/schema/data/jpa/spring-jpa.xsd">

    <!--<context:property-placeholder location="file:///#{systemProperties.dbproperties2}"/>-->

    <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="ignoreUnresolvablePlaceholders" value="true"/>
        <property name="location">
            <value>file:///${app_config_path}app.properties</value>
            <!--<value>file:///#{systemProperties['dbproperties']}</value>-->
        </property>
    </bean>

    <bean id="servletPropertyPlaceholderConfigurer" class="org.springframework.context.support.PropertySourcesPlaceholderConfigurer">
    </bean>

     <!--Enable annotation support-->
    <context:annotation-config/>

     <!--Search for beans and autowiring-->
    <context:component-scan base-package="com.kattysoft"/>

    <bean id="pgDb" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
        <property name="driverClassName" value="org.postgresql.Driver"/>
        <property name="url" value="${db.url}"/>
        <property name="username" value="${db.username}"/>
        <property name="password" value="${db.password}"/>
    </bean>

    <bean id="entityManagerFactory"
          class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
        <property name="dataSource" ref="pgDb" />
        <property name="jpaDialect">
            <bean class="org.springframework.orm.jpa.vendor.HibernateJpaDialect"/>
        </property>
        <property name="jpaProperties">
            <props>
                <prop key="hibernate.connection.release_mode">on_close</prop>
            </props>
        </property>
    </bean>

    <bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
        <property name="entityManagerFactory" ref="entityManagerFactory" />
    </bean>

    <jpa:repositories base-package="com.kattysoft.core.repository"
                      entity-manager-factory-ref="entityManagerFactory"
                      transaction-manager-ref="transactionManager"/>

    <bean id="documentDao" class="com.kattysoft.core.dao.DocumentDaoPg">
        <property name="dataSource" ref="pgDb" />
    </bean>

    <bean class="com.kattysoft.core.impl.DocumentServiceImpl">
        <property name="documentDao" ref="documentDao" />
    </bean>

    <bean class="com.kattysoft.core.impl.ConfigServiceImpl">
        <property name="configPath">
            <value>${app_config_path}</value>
        </property>
    </bean>

    <bean class="com.kattysoft.core.impl.UserServiceImpl">

    </bean>

    <bean class="com.kattysoft.core.impl.ContragentServiceImpl">

    </bean>

    <bean class="com.kattysoft.core.impl.DictionaryServiceImpl">

    </bean>

    <bean class="com.kattysoft.core.impl.AttachServiceImpl">

    </bean>

    <bean class="com.kattysoft.core.impl.GroupServiceImpl">

    </bean>

    <bean class="com.kattysoft.core.impl.SpaceServiceImpl">

    </bean>

    <bean class="com.kattysoft.core.impl.DocumentTypeServiceImpl">

    </bean>

    <bean class="com.kattysoft.core.impl.AccessRightServiceImpl">

    </bean>

    <bean class="com.kattysoft.core.impl.TaskServiceImpl">

    </bean>

</beans>